/* html {
  background-color: blue;
  } */

.button {
  height: 3em;
  width: 3em;
}

.mdi {
  padding-top: 15px;
  padding-left: 15px;
}

.mdi-asterisk, .mdi-pound {
  padding: 0;
}

.mdi-numeric-1-circle-outline {
  padding-bottom: 38px;
}
