/* html {
  background-color: blue;
  } */
  
#outerkeypad {
  margin-left: 15px;
}

#webphone {
    width: 20em;
    border: 2px solid black;
    padding: 25px;
}

#telnum {
  margin-bottom: 10px;
  margin-left: 5px;
  width: 14em;
}

.field {
  margin-bottom: 10px;
  margin-left: 5px;
  width: 14em;
  padding: 5px;
}

.keyrow {
  padding: 5px;
}

.button {
  height: 3em;
  width: 3em;
}

.mdi {
  padding-top: 15px;
  padding-left: 15px;
}

.mdi-asterisk, .mdi-pound, .mdi-phone-classic {
  padding: 0;
}

.mdi-numeric-1-circle-outline {
  padding-bottom: 38px;
}

#callbutton {
  margin-top: 10px;
  margin-left: 6px;
}